<p>
    @DateTime.Now

</p>
@{
    string name = "Brunushka";
    var message = "melhor chefe de sempre é Lê Chèf ";
}
@*<p>
    @message
    @name
</p>*@
@{ 
    var othername = " Luiza Silva and PearTree";
    var othermessage = "dito por";
    <p><span class="font-italic">"@message  @name "</span><span> - @othermessage @othername</span></p>
}
<p>1 + 3 = @(2+3)</p>